<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>374477903074-dgk6r9363pogpcfcqe1til50diargpp3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.374477903074-dgk6r9363pogpcfcqe1til50diargpp3</string>
	<key>API_KEY</key>
	<string>AIzaSyB1fqB3zGUh8lpki12iBGozkR3sLgDJRD8</string>
	<key>GCM_SENDER_ID</key>
	<string>374477903074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Admin.TimeTracker</string>
	<key>PROJECT_ID</key>
	<string>timetracker-d58d7</string>
	<key>STORAGE_BUCKET</key>
	<string>timetracker-d58d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:374477903074:ios:7d25a3476f72fe6688babb</string>
	<key>DATABASE_URL</key>
	<string>https://timetracker-d58d7.firebaseio.com</string>
</dict>
</plist>